.erp-grid {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
}

@media (max-width: 1024px) {
  .erp-grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 640px) {
  .erp-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.p-dialog-header-icons {
  margin-top: 5px;
}
